<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MOL</title>
</head>

<body>
  <h1>Информация по картриджу - <%= cartridge.cartridge_name %></h1>
  <h1>Код ТМЦ - <%= cartridge.cartridge_tmc %></h1>
  <h1>Количество на складе- <%= cartridge.cartridge_amount %></h1>
  <h1>Себестоимость - <%= cartridge.cartridge_price %></h1>
</body>

</html>